<div class="search-box">
  <form action="{{ path('sumocoders_frameworksearch_default_index') }}" data-form-class="SearchForm">
    <div class="controls">
      <div class="search-form">
        <label for="searchQuery" class="control-label"> {{ 'search.forms.placeholders.term'|trans|capitalize }} </label>
        <input id="searchQuery" name="term" type="search" placeholder="Zoek naar ..." class="form-control">
      </div>
      <a class="btn fa fa-search toggle-searchbar" href="#" role="button"> </a>
      <button type="submit" class="btn fa fa-search submit-searchbar">
        <span class="hide">{{ 'search.forms.buttons.search'|trans|capitalize }}</span>
      </button>
    </div>
  </form>
</div>
